<!DOCTYPE html>
<html lang="en">
<head>
    <title>hikan.ru</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="pic/favicon.ico?v={{ version }}" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.css?v={{ version }}" type="text/css">
    <script src="scripts/htmx.js?v={{ version }}"></script>
</head>
<body>
    <div style="text-align: center;">
        <h1>hikan.ru&nbsp;🥶</h1>
        <p>
            <code>by serr in saint p city, Russia&nbsp;🌪</code><br>
            <code>page rendered at {{ cached_at }}</code>
        </p>
    </div>
    <main>
        <div>
            {{ firstPart }}
        </div>
        <div>
            {{ secondPart }}
        </div>
        <div>
            {{ thirdPart }}
        </div>
    </main>
    <footer>
        <div class="pic-container">
            <img class="pic" src="pic/2.jpg?v={{ version }}" 
                style="width: 100%; height: 100%;">
        </div>
        <div class="pulse-container">
            <p class="pulse-text" style="margin-bottom: 0;">
                <code>🎵&nbsp;last played track: </code><code id="lastfm"
                hx-get="/api/lastfm"
                hx-trigger="load, every 30s"
                hx-target="#lastfm"
                hx-swap="innerHTML">waiting for a response from server... (JavaScript is required)</code><code>&nbsp;🎵</code>
            </p>
        </div>
        <div>
            <h1>
                contacts
            </h1>
            <p>
                <a href="https://t.me/semaphoreslover" rel="me" target="_blank">telegram</a>
            </p>
            <h1>
                other
            </h1>
            <p>
                <a href="https://github.com/laserattack" rel="me" target="_blank">github</a><br>
                <a href="https://mastodon.ml/@serr" rel="me" target="_blank">mastodon</a><br>
                <a href="https://www.last.fm/ru/user/s3rr" rel="me" target="_blank">lastfm</a><br>
                <a href="https://t.me/lolistack" rel="me" target="_blank">tg channel with pfps</a>
            </p>
            <h1 style="margin-bottom: -5px;">buttons</h1>
            <p style="display: inline-block;">
                <img src="pic/buttons/8015ani.gif?v={{ version }}" style="margin: 5px;">
                <img src="pic/buttons/8015cfe.gif?v={{ version }}" style="margin: 5px;">
                <a href="https://getfirefox.com/"><img src="pic/buttons/8015firefox.gif?v={{ version }}" style="margin: 5px;"></a>
                <img src="pic/buttons/8015nobuttons.gif?v={{ version }}" style="margin: 5px;">
                <img src="pic/buttons/8015tea.gif?v={{ version }}" style="margin: 5px;">
                <img src="pic/buttons/8015oss.png?v={{ version }}" style="width: 80px; margin: 5px;">
                <img src="pic/buttons/8015coffeegeek.png?v={{ version }}" style="width: 80px; margin: 5px;">
                <img src="pic/buttons/8015pie.png?v={{ version }}" style="width: 80px; margin: 5px;">
            </p>
        </div>
    </footer>
</body>
</html>